In [8]:
import pandas as pd

In [ ]:
df = pd.read_csv('data.csv', sep=',')# caso fosse outro separador bastaria substituir no sep
df.shape
df.head(2)

In [26]:
cols=['diagnosis','radius_mean', 'texture_mean', 'smoothness_mean']

In [30]:
#df.iloc[linhas, colunas]
df.iloc[1:11,1:5]

   diagnosis  radius_mean  texture_mean  perimeter_mean
1          M        20.57         17.77          132.90
2          M        19.69         21.25          130.00
3          M        11.42         20.38           77.58
4          M        20.29         14.34          135.10
5          M        12.45         15.70           82.57
6          M        18.25         19.98          119.60
7          M        13.71         20.83           90.20
8          M        13.00         21.82           87.50
9          M        12.46         24.04           83.97
10         M        16.02         23.24          102.70