In [3]:
import os
import pandas as pd

dados = '/home/carlitos/Documentos/Caderno_de_anotacoes_python/control_non-infected/teste/arquivos'
df= []

for num, pasta in enumerate(os.listdir(dados)):
    if pasta.endswith(".csv"):
        
        #with open(f"/home/carlitos/Documentos/Caderno_de_anotacoes_python/control_non-infected/GSE162760/{pasta}",'w') as myfiles:
            #myfiles.write()
        #print(f'carregando {pasta}...')
        df.append(pd.read_csv(os.path.join(dados, pasta))) 
        #print(df[num].replace("\t", ",", regex=True))
        
    
    

print(len(df))

#df_master = pd.concat(df, axis=0,ignore_index=True)
#df_master.to_csv('./uniao.csv', index=False)

50

In [5]:
b= [df[i] for i in range(0,len(df))] 
print()

In [2]:
for n in range(0,len(df)):
    df[n].set_index('Geneid', inplace=True)

In [62]:
lista_col= []
lista_col=[[index.columns[0]] for index in df]
lista_col

[['HISAT2 on data 23: aligned reads (BAM)'],
 ['HISAT2 on data 124: aligned reads (BAM)'],
 ['HISAT2 on data 6: aligned reads (BAM)'],
 ['HISAT2 on data 32: aligned reads (BAM)'],
 ['HISAT2 on data 120: aligned reads (BAM)'],
 ['HISAT2 on data 60: aligned reads (BAM)'],
 ['HISAT2 on data 22: aligned reads (BAM)'],
 ['HISAT2 on data 122: aligned reads (BAM)'],
 ['HISAT2 on data 8: aligned reads (BAM)'],
 ['HISAT2 on data 7: aligned reads (BAM)'],
 ['HISAT2 on data 33: aligned reads (BAM)'],
 ['HISAT2 on data 66: aligned reads (BAM)'],
 ['HISAT2 on data 59: aligned reads (BAM)'],
 ['HISAT2 on data 67: aligned reads (BAM)'],
 ['HISAT2 on data 24: aligned reads (BAM)'],
 ['HISAT2 on data 25: aligned reads (BAM)'],
 ['HISAT2 on data 65: aligned reads (BAM)'],
 ['HISAT2 on data 31: aligned reads (BAM)'],
 ['HISAT2 on data 10: aligned reads (BAM)'],
 ['HISAT2 on data 61: aligned reads (BAM)'],
 ['HISAT2 on data 70: aligned reads (BAM)'],
 ['HISAT2 on data 9: aligned reads (BAM)'],
 ['HISAT2 on data 8: aligned reads (BAM)'],
 ['HISAT2 on data 105: aligned reads (BAM)'],
 ['HISAT2 on data 68: aligned reads (BAM)'],
 ['HISAT2 on data 32: aligned reads (BAM)'],
 ['HISAT2 on data 58: aligned reads (BAM)'],
 ['HISAT2 on data 60: aligned reads (BAM)'],
 ['HISAT2 on data 61: aligned reads (BAM)'],
 ['HISAT2 on data 53: aligned reads (BAM)'],
 ['HISAT2 on data 28: aligned reads (BAM)'],
 ['HISAT2 on data 21: aligned reads (BAM)'],
 ['HISAT2 on data 35: aligned reads (BAM)'],
 ['HISAT2 on data 26: aligned reads (BAM)'],
 ['HISAT2 on data 64: aligned reads (BAM)'],
 ['HISAT2 on data 33: aligned reads (BAM)'],
 ['HISAT2 on data 63: aligned reads (BAM)'],
 ['HISAT2 on data 7: aligned reads (BAM)'],
 ['HISAT2 on data 121: aligned reads (BAM)'],
 ['HISAT2 on data 6: aligned reads (BAM)'],
 ['HISAT2 on data 34: aligned reads (BAM)'],
 ['HISAT2 on data 20: aligned reads (BAM)'],
 ['HISAT2 on data 62: aligned reads (BAM)'],
 ['HISAT2 on data 57: aligned reads (BAM)'],
 ['HISAT2 on data 31: aligned reads (BAM)'],
 ['HISAT2 on data 62: aligned reads (BAM)'],
 ['HISAT2 on data 34: aligned reads (BAM)'],
 ['HISAT2 on data 123: aligned reads (BAM)'],
 ['HISAT2 on data 69: aligned reads (BAM)'],
 ['HISAT2 on data 119: aligned reads (BAM)']]

In [79]:
aa= pd.merge(df[0], df[2], on='Geneid')
aa
#a=(aa.columns)
#print(a)

,HISAT2 on data 23: aligned reads (BAM),HISAT2 on data 6: aligned reads (BAM)
Geneid,,
100287102,0,0
653635,1,4
102466751,1,0
100302278,0,0
645520,0,0
...,...,...
105379557,0,0
105379559,0,0
105379561,0,0
102723822,0,0
102723891,0,0

: